/** Layout 相关 */

#app {
  color: $font-color;

  // 右侧设置面板
  .handle-button {
    background-color: color.adjust($theme-bg-color, $lightness: 20%) !important;
  }
}

.app-wrapper {
  // 侧边栏
  .sidebar-container {
    background-color: color.adjust($theme-bg-color, $lightness: 2%);

    .el-menu {
      background-color: color.adjust(
        $theme-bg-color,
        $lightness: 2%
      ) !important;

      .el-menu-item {
        background-color: color.adjust(
          $theme-bg-color,
          $lightness: 2%
        ) !important;

        &.is-active,
        &:hover {
          color: $active-font-color !important;
          background-color: color.adjust(
            $theme-bg-color,
            $lightness: 6%
          ) !important;
        }
      }
    }

    .el-sub-menu__title {
      background-color: color.adjust(
        $theme-bg-color,
        $lightness: 2%
      ) !important;
    }

    .el-sub-menu {
      &.is-active {
        > .el-sub-menu__title {
          color: $active-font-color !important;
        }
      }
    }
  }

  // Header
  .layout-header {
    background-color: $theme-bg-color;
    border-bottom: 1px solid color.adjust($theme-bg-color, $lightness: 10%) !important;
  }

  // 顶部导航栏
  .navigation-bar {
    background-color: $theme-bg-color;

    .right-menu {
      .svg-icon {
        color: $font-color;
      }
    }
  }

  // TagsView
  .tags-view-container {
    background-color: $theme-bg-color !important;

    .tags-view-item {
      color: $font-color !important;
      background-color: $theme-bg-color !important;
      border: 1px solid $border-color !important;

      &.active {
        color: $active-font-color !important;
        background-color: $theme-color !important;
        border-color: $border-color !important;
      }
    }

    // 右键菜单
    .contextmenu {
      color: $font-color;
      background-color: color.adjust($theme-bg-color, $lightness: 8%);

      li:hover {
        color: $active-font-color;
        background-color: color.adjust($theme-bg-color, $lightness: 16%);
      }
    }
  }
}
