/** Login 页面相关 */
@use 'sass:color';

.login-container {
  color: $font-color;
  background-color: $theme-bg-color;

  .login-card {
    background-color: color.adjust($theme-bg-color, $lightness: 4%) !important;
  }
}
